
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

body main {
    height: 100%;
    padding-top: 1%;
    display: flex;
    background-color: #f5f5f5;
}
.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.auth .form-control {
    padding: 10px;
    font-size: 1.2rem;
    height: auto;
}

#loginLink, #signupLink {
    padding-bottom: 6%;
}

#name, #email, #confirmPassword, #signupButton, #login, #feed,  #profile {
    display: none;
}

.auth button[type='submit'] {
    margin-top: 10px;
}

#feed .card, #posts .card {
    max-width: 414px;
    padding: 0;
}

.card *:not(img) {
    padding-left: 5px;
}

#reactions {
    padding: 5px;
}
#reactions span {
    margin-right: 1rem;
}
.time { 
    font-size: 0.7rem;
}
.like:hover, .comment:hover, .user-name:hover, #logo:hover {
    cursor: pointer;
}

.banner > * {
    margin: 10px 25px;
}

.nav-item {
    border: 1px solid rgba(46, 46, 46, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

.card .user-name {
    margin-top: 10px;
    font-size: 1.5rem;
}
.modal-body div {
    margin-bottom: 10px;
}

.user-name {
    margin-bottom: 0;
}

.modal-body .time {
    margin-bottom: 0;
}

#info {
    width: 80vw;
    margin-top: 20px;
    border-bottom: 1px solid rgba(46, 46, 46, 0.1);
}

#following {
    font-size: 1.75rem;
}

#posts {
    width: 100vw;
}
#posts .card {
    min-height: 600px;
    flex-wrap: wrap;
}